listen-address={{ extcidrnet | next_nth_usable(extcidrnet_offset + 1) }}
bind-interfaces
strict-order
local=/{{ cluster }}.{{ domain }}/
domain={{ cluster }}.{{ domain }}
expand-hosts
except-interface=lo
except-interface={{ lab_pub_nic }}
interface=baremetal
{% if jumbo_mtu %}
dhcp-option=baremetal,26,9000
{% endif %}
dhcp-range={{ extcidrnet | next_nth_usable(extcidrnet_offset + 10) }},static
dhcp-no-override
dhcp-authoritative
{% if (ipv6_enabled and dualstack_baremetal) and not (ipv4_baremetal) %}
dhcp-range={{ extcidrnet6 | next_nth_usable(extcidrnet_offset + 9) }},static
enable-ra
{% endif %}
dhcp-host=52:54:00:2A:92:63,{{ extcidrnet | next_nth_usable(extcidrnet_offset + 9) }},bootstrap
{% for node in ocp_deploying_node_content.nodes %}
dhcp-host={{ node.bm_mac }},{{ node.ext_ip }},{{ node.host_name }}
{% endfor %}
address=/ns1.{{ cluster }}.{{ domain }}/{{ dnsvip }}
address=/api.{{ cluster }}.{{ domain }}/{{ apivip }}
address=/.apps.{{ cluster }}.{{ domain }}/{{ ingressvip }}
