---
apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: {{ node_item }}
  name: 50-disable-lab-public-nic-{{ node_item }}
spec:
  config:
    ignition:
{% if (version.split('.')[0]|int == 4 or version.split('.')[0] == 'latest-4' or version.split('.')[0] == 'stable-4') %}
{% if (version.split('.')[1]|int < 6) %}
      version: 2.2.0
{% elif (version.split('.')[1]|int >= 6) %}
      version: 3.1.0
{% endif %}
{% endif %}
    storage:
      files:
{% for nic in disable_nics  %}
      - contents:
          source: data:text/plain;charset=utf-8;base64,{{ lookup('template', 'ocp4-lab.ifcfg-template.j2', template_vars=dict(item=nic)) | b64encode }}
        filesystem: root
        mode: 0644
        path: /etc/sysconfig/network-scripts/ifcfg-{{ nic }}
{% endfor %}
{% if (version.split('.')[1]|int >= 8) %}
      - contents:
          source: data:text/plain;charset=utf-8;base64,{{ lookup('template', 'ocp4-lab.nm.conf.j2', template_vars=dict(disable_nics=disable_nics)) | b64encode }}
        filesystem: root
        mode: 0644
        path: /etc/NetworkManager/conf.d/99-disable-nics.conf
{% endif %}